.whiskeys-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-container {
  background-color: #fff;
  border: 0.5em solid #6495ed;
  border-radius: 1em;
  box-shadow: 0.2em 0.2em #808080;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
  max-height: 5em;
  max-width: 18em;
  padding: 2em;

  h2 {
    margin-right: 1em;
  }

  input {
    font-size: 1.2em;
    margin-top: 0.5em;
    max-height: 2em;
    max-width: 8em;
    padding: 0.5em;
  }

  select {
    margin-top: 1em;
  }
}
