.ratings-container {
  display: flex;
  padding-top: 1em;
}

.stars-container {
  align-self: center;
  border-color: #000;
  border-style: none solid none none;
  border-width: 1px;
  margin-right: 1em;
  min-width: 5em;
  padding-right: 1em;
  padding-top: 0;

  &:last-child {
    border-style: none;
  }

  h3 {
    padding-bottom: 0;
    text-transform: uppercase;
  }

  .rating-id {
    display: none;
    visibility: hidden;
  }
}
